# Ignore compiled files
*.class
*.jar

# Ignore log files
*.log


# Ignore the target directory
/target/
/Dataset/
/AddOcclusion/
/Models/
/Fakeimage/
/FeedbackData/
/mixfiles/
/docs/


# Ignore temporary files
*.tmp
Gan/inpainting.ipynb
Unet/Unet.ipynb
new.jpg
code_and_executables.zip
Low_level_design_and_Implementation_details.pdf
PW23_PP_06.zip
PW23_PP_06_Report.pdf
PW23_PP_06_POSTER.pdf
PW23_PP_06_video.mp4
PW23_PP_06_plagiarism_report.pdf
